@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dongle:wght@400;700&family=Fira+Sans:wght@500&family=Montserrat:ital,wght@0,400;0,500;1,600&family=Nunito:wght@500&family=Poppins:wght@400;500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #fefff5;
}
#container{
  display:flex;
  position:relative
}
#side-menu-container{
  position: fixed;
  width: 240px;
  height: 100%;
  background-color: #adaf96;
  
}
#search-content-container{
  width: 100%;
  margin-left: 250px;
  margin-top: 70px;
  height: 800px;
  display: flex;
  justify-content: center;

}
#search-bar input{
  width: 600px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid rgb(230, 230, 230);
  background-color: rgb(255, 255, 255);
  padding-left: 10px;
}
ul{
  padding-top: 20px;
}
ul li{
  list-style: none;
  padding: 15px 15px 25px 15px;
  width: 100%;

}
a{
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
}
li:hover{
  background-color: #888977;
}
#search{
  margin-left: 15px;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border: none;
  background-color: #adaf96;
}
#search i{
  color: white;
}
